# PROJECT 1

In [40]:
"""The code below reads two .csv files into data frames using pandas."""
import pandas as pd
#we are importing the pandas library to use in out code 

weather = pd.read_csv("weather.csv")
flights = pd.read_csv("flights.csv")
#we open both the weather and flights csv files and make them into dataframes
#we then assign the varibles weather and flights to respected dataframes

## *Weather Tidy Data:*

In [41]:
"""The code below is to tidy up the weather.csv data and making that tidied data into a new .csv file."""

weather.T
#we transpose the dataframe 

melted = weather.melt(id_vars=['year','month','measure'], var_name='Day', value_name='V')
#we melt the dataframe which converts rows into columns in a specific way

melted.dropna(axis=0,inplace=True)
#we use the .dropna() to operation to remove all the entries that are null

x = lambda y: y != 'T' 
melted['N'] = melted['V'].apply(x)
melted =melted.loc[melted['N']]
melted.drop(['N'], axis=1, inplace=True)
#we use a lambda expression to find a string entry and we make a new column and used in .apply()
#on a column that we created in .melt() and we further drop the extra column we created to 
#store values 

xv = lambda y: y != 'X' 
melted['X'] = melted['Day'].apply(xv)
melted =melted.loc[melted['X']]
melted.drop(['X'], axis=1, inplace=True)
#we do the same process as the one above but on the 'Day' column 

c = lambda b: int(b[1:])
melted['Day'] = melted['Day'].apply(c)
#we use a lambda expression to convert a string into integer and only keep the number part 
#in the 'Day' column

melted = melted.pivot_table(index=['year','month', 'Day'], columns= 'measure', values= 'V', aggfunc= 'first')
#we pivot our table to make the 'measure' into columns while indexing 'year','month' and'Day'

melted = melted.sort_values(by= ['year','month', 'Day'])
#we sort the values by the date using .sort_values() 

melted["Events"].fillna("No data", inplace = True)
#we fill in the void entries in the Events column with "No Event" using .fillna()

melted.to_csv('weatherTidy.csv', sep='\t', encoding='utf-8')
#we make our new tidy dataframe into a csv file

melted.head()
#visible representation of the new tidy data

measure        CloudCover     Events Max.Dew.PointF Max.Gust.SpeedMPH  \
year month Day
2014 12    1            6       Rain             46                29
           2            7  Rain-Snow             40                29
           3            8       Rain             49                38
           4            3    No data             24                33
           5            5       Rain             37                26

measure        Max.Humidity Max.Sea.Level.PressureIn Max.TemperatureF  \
year month Day
2014 12    1             74                    30.45               64
           2             92                    30.71               42
           3            100                     30.4               51
           4             69                    30.56               43
           5             85                    30.68               42

measure        Max.VisibilityMiles Max.Wind.SpeedMPH Mean.Humidity  ...  \
year month Day                                                      ...
2014 12    1                    10                22            63  ...
           2                    10                24            72  ...
           3                    10                29            79  ...
           4                    10                25            54  ...
           5                    10                22            66  ...

measure        Mean.VisibilityMiles Mean.Wind.SpeedMPH MeanDew.PointF  \
year month Day
2014 12    1                     10                 13             40
           2                      8                 15             27
           3                      5                 12             42
           4                     10                 12             21
           5                     10                 10             25

measure        Min.DewpointF Min.Humidity Min.Sea.Level.PressureIn  \
year month Day
2014 12    1              26           52                    30.01
           2              17           51                     30.4
           3              24           57                    29.87
           4              13           39                    30.09
           5              12           47                    30.45

measure        Min.TemperatureF Min.VisibilityMiles PrecipitationIn  \
year month Day
2014 12    1                 39                  10            0.01
           2                 33                   2            0.10
           3                 37                   1            0.44
           4                 30                  10            0.00
           5                 26                   5            0.11

measure        WindDirDegrees
year month Day
2014 12    1              268
           2               62
           3              254
           4              292
           5               61

[5 rows x 22 columns]

In the tidying of the weather data, I start off by using transpose to make it more accessible to use *.melt()* on our data frame. When I use melt on the data frame, I declare certain columns as my index and then make my column of 'measure' rows into columns and assign them their specific values. I further use *.pivot_table()* to get the values into specific columns while they are in specific rows aligning with their indexes. I then use expressions to remove the values from my data that are 'T' as those values are of no use to us. To make my Day column tidier, I remove the substring 'X' and convert the remaining string into an integer to make more sense of it as a day. I sort the values in my data frame using *.sort_values()*. I sort on the bases of year, month and day columns. I further removed the data that had unrecorded values by using *.dropna()* on the data frame. I also filled the unrecorded values in the Events column as 'No data' because we further see that the events column can still be useful. I exported my tidied data frame into a *.csv* file so it can be used in tableau.

## *Flights Tidy Data:*

In [42]:
"""The code below is to tidy up the flights.csv data and making that tidied data into a new .csv file."""

flights.drop(['time_hour','hour','minute'], axis=1, inplace=True)
#we use .drop() to drop particular columns

flights.set_index(['year', 'month', 'day','origin','dest','dep_time'], inplace=True)
#we set out date, origin and destination as index 

flights.sort_values(by = ['dep_delay'], inplace=True)
#sorting values using departure delay

flights.to_csv('flightsTidy.csv', sep='\t', encoding='utf-8')
#we make our new tidy dataframe into a csv file

flights.head()
#visible representation of the new tidy data

                                     sched_dep_time  dep_delay  arr_time  \
year month day origin dest dep_time
2013 12    7   JFK    DEN  2040.0              2123      -43.0      40.0
     2     3   LGA    MSY  2022.0              2055      -33.0    2240.0
     11    10  LGA    IAD  1408.0              1440      -32.0    1549.0
     1     11  LGA    TPA  1900.0              1930      -30.0    2233.0
           29  LGA    DEN  1703.0              1730      -27.0    1947.0

                                     sched_arr_time  arr_delay carrier  \
year month day origin dest dep_time
2013 12    7   JFK    DEN  2040.0              2352       48.0      B6
     2     3   LGA    MSY  2022.0              2338      -58.0      DL
     11    10  LGA    IAD  1408.0              1559      -10.0      EV
     1     11  LGA    TPA  1900.0              2243      -10.0      DL
           29  LGA    DEN  1703.0              1957      -10.0      F9

                                     flight tailnum  air_time  distance
year month day origin dest dep_time
2013 12    7   JFK    DEN  2040.0        97  N592JB     265.0      1626
     2     3   LGA    MSY  2022.0      1715  N612DL     162.0      1183
     11    10  LGA    IAD  1408.0      5713  N825AS      52.0       229
     1     11  LGA    TPA  1900.0      1435  N934DL     139.0      1010
           29  LGA    DEN  1703.0       837  N208FR     250.0      1620

In tidying of the flights data, I omit the 'time_hour', 'hour' and 'minute' columns since they are repeating the same information that we have in our other columns for example the contents of 'time_hour' are already stored in our year, month, day, and sched_dep columns. We set our index as 'year', 'month', 'day','origin','dest' and 'dep_time' columns to meet the tidy constraints. We sorted the data using our 'dep_delay' column because it more useful sorted in exploring the data. We export my tidied data into a *.csv* file so it can be used in tableau.

## *Data Exploration and Questions:*

### *Is there a relationship between the carriers and delayed departures? If so, which airline has the minimum and maximum delays?*

Using our tidied data, we make a graph: 'Carriers and Departure Delays.png' to explore the relationship between carriers and minimum and maximum departure delays. We can see that Hawaiian Airlines (HA) has the largest delay of 1,301 minutes while JetBlue (B6) has the lowest delay time, leaving 43 minutes early. For the airlines' maximum delay, SkyWest Airlines (OO) has the lowest at 154 minutes. Similarly, Hawaiian Airlines' minimum delay was leaving 14 minutes early. We can see that Hawaiian Airlines has the highest delay time, highest minimum delay time. From this we can conclude that there is in fact a strong positive relationship between airline carriers and the maximum departure delays.

### *How do different weather events like rain, snow, fog etc. affect visibility miles?*

Using our tidied data, we make a graph: 'Events and Visibility.png' to explore the effect of events on mean visibility miles. As seen in the graph, weather events highly effect visibility. The worst event for visibility is thunderstorms with an average visibility of 10 miles. The graph's lowest values are fog in various combinations with other events, the lowest being a combination of fog and snow with a mean visibility of 3.299. This shows that even though fog affects visibility, thunderstorms, rain, snow and hail alone are more visually impairing.

### *How do temperate and dewpoint affect the delay time for flights?*

Using our tidied data, we make a graph: 'Both data graph.png' to explore the realtionship between departure delays, mean temperature and mean dew point. Temperate and dewpoint increase and decrease together, as seen in the graph. This is reasonable because it takes a certain temperature to have specific amounts of dew form. In our graph, as the departure delay time for flights increases in the months of May and June, temperature and dewpoint increase. In contrast, as the temperature and dewpoint drop in November and December, the departure delay time increases. The departure delay increasing during November and December is logical considering the cold temperatures and weather events cause planes to leave late more frequently. Similarly, in May and June, high temperatures can impair flights and cause delays.